<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/lib/jquery-easyui-1.5.5.2/themes/bootstrap/easyui.css">
  <link rel="stylesheet" href="/lib/jquery-easyui-1.5.5.2/themes/icon.css">
  <link href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style/main.css">
  <title>tea_my_teach</title>
</head>

<body>
  <header id="tea_my_teach_header"> 我是头部模板位置</header>
  <nav id="tea_my_teach_nav">我是导航栏模板位置</nav>

  <div id="tea_my_teach_open_class">我是中心内容部分容器位置</div>
  <footer id="tea_my_teach_footer">我是脚部模板位置</footer>
  <script src="/lib/require.js" data-main="/js/controller/teacher/tea_my_teachController.js"></script>
</body>

</html>
