<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tea_enter_course</title>
</head>

<body>
  tea_enter_course
  <br>
  <a href="/view/teacher/tea_build_course.html">跳转至教师端，建立课程页面</a>
  <div id="toGetId">接收其他页面传递过来的id值</div>
  <a href="/view/teacher/tea_index.html">跳转至教师端，教师端首页</a>
  <script src="/lib/require.js " data-main="/js/controller/teacher/tea_enter_courseController.js"></script>
</body>

</html>
