<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/lib/jquery-easyui-1.5.5.2/themes/bootstrap/easyui.css">
  <link rel="stylesheet" href="/lib/jquery-easyui-1.5.5.2/themes/icon.css">
  <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style/main.css">
  <title>tea_teach_shop</title>
</head>

<body>

  <header id="tea_teach_header_container"> 我是头部模板位置</header>
  <a href="/view/teacher/tea_index.html">跳转至教师端首页</a>

  <div id="tea_main_container">我是导航栏模板位置</div>



  <hr>
  <footer id="tea_teach_footer_container">我是导航栏模板位置</footer>

  <script src="/lib/require.js " data-main="/js/controller/teacher/tea_teach_shopController.js"></script>

</body>

</html>
