<div class="tea_win_tpl">
  <h1>课程建立成功！</h1>
  <div class="sep_line"></div>
  <div class="visit"> 课程邀请码:&nbsp;&nbsp;
    <span class="visit_num">123456789</span>
  </div>
  <h3>课程建立成功，请将该课程邀请码告诉您的学生，您的学生可以通过课程编号找到这个课程并进行报名</h3>
</div>
<form id="tea_win_form" action="">

  <li class="win_item">
    <span class="item_title">课程名称</span>
    <span id="win_info_title" class="set_to_win new_title">sfb s</span>
  </li>
  <li class="win_item">
    <span class="item_title">开课时间</span>
    <span id="win_info_time" class="set_to_win new_time">dfgng</span>
  </li>
  <li class="win_item">
    <span class="item_title">报名权限</span>
    <span id="win_info_limit" class="set_to_win new_limit">sfb swfb </span>
  </li>
  <li class="win_item">
    <span class="item_title">学生自主退出课程</span>
    <span id="win_info_access" class="set_to_win new_choice">sf bs</span>
  </li>
  <div class="sep_line"></div>
  <!-- 复用标签与样式 开始 -->
  <li class="win_item_wrap">
    <h2>选用的教材</h2>
    <div class="item_img_container ">
      <img id="win_item_img" class="item_img " src="/asset/imgs/course_map5.png " alt="图片不显示我显示 " title="woshi tupian ">
    </div>
    <div class="item_introduce ">
      <h2 id="win_h2">数学解题泄天机</h2>
      <h4 id="win_author" class="auhor ">杨飞，陈荣主</h4>
      <p id="win_item_p" class="item_p ">本书分为3编.第1编解题心经，结合高中一线教师的解题心得和国内外解题名家的思想，提出数学解题活动中的操作规律和思维规律.第2编方法歌诀，归纳总结了高中数学典型的。</p>
      <div class="lastdata ">权限截至日期&nbsp;&nbsp;
        <span id="win_time" class="time ">0000.00.00</span>
      </div>
    </div>
  </li>
  <!-- 复用标签与样式结束 -->
</form>
<button id="tea_build_win_submit" class="button win_submit">进入课程</button>
