<div class="tea_my_teach_open_class_container">
  <div class="nav_wrap">
    <div class="nav_com nav_fl">
      <li class="nav_fl_item  active">开课中</li>
      <li class="nav_fl_item">已完结</li>
    </div>
    <div class="nav_com nav_fr">
      课程管理
    </div>
  </div>
  <!-- ***模板使用开始 -->
  <ul class="content_wrap">
    <!-- 权限设置 -->
    <div class="content_wrap_ab">无权限</div>
    <!-- 开课中的 -->
    <li class="content_item">
      <img class="content_item_img" src="/asset/imgs/course_map2.png" alt="我是图片位置" title="我是图片1">
      <div class="content_item_right">
        <h2>我是标题</h2>
        <ul class="content_item_list">
          <li class="content_item_detail">需要验证后才可以加入课程</li>
          <li class="content_item_detail">邀请码 &nbsp; &nbsp; 000000009</li>
          <li class="content_item_detail">截至时间 &nbsp; &nbsp;2017.09.10</li>
          <li class="content_item_detail">
            <i class="fa fa-user-o"></i> &nbsp; &nbsp;200</li>
        </ul>
        <div class="sep_line"></div>
        <!-- 开课中***课程管理部分***开始 -->
        <!-- <ul class="kaike_guanli_wrap">
          <li class="item">
            <span class="item_zuo zuo_bg1">待批准</span>
            <span class="item_you">待批准报名的学生2人</span>
          </li>
          <li class="item">
            <span class="item_zuo zuo_bg2">待评判</span>
            <span class="item_you">待评判的作业测试20人</span>
          </li>
          <li class="item">
            <span class="item_zuo zuo_bg3">待回答</span>
            <span class="item_you">待回答的问题10个</span>
          </li>
          <li class="item">
            <span class="item_zuo zuo_bg4">活动</span>
            <span class="item_you">活动通知标题 &nbsp;&nbsp; 活动时间:00.00 00:00</span>
          </li>
        </ul> -->
        <!-- 开课中***课程管理部分***结束 -->
        <!-- ************选择******另外一种模式 -->
        <!-- 复制课程与结束课程*****开始 -->
        <div class="kaike_wancheng">
          <button class="button is-primary ">
            复制课程
          </button>&nbsp;&nbsp;
          <button class="button is-primary ">结束课程</button>
        </div>
        <!-- 复制课程与结束课程*****结束 -->
      </div>
    </li>
  </ul>
  <!-- ***模板使用结束 -->
  <div class="page_wrap">
    <div id="page_le_fl">共100个课程</div>
    <div id="page_ri_fl">分页器</div>
  </div>
</div>
