// 课程列表
.s-coursetxtlist {
  width: 940px;
  height: 1436px;
  overflow: hidden;
  li {
    padding-right: 20px;
    width: 210px;
    margin: 25px 0 25px 20px;
    padding: 0;
    img {
      width: 210px;
      height: 183px;
    }
    p {
      margin-top: 5px;
    }
  }
  p,
  h6 {
    font: 14px/22px '微软雅黑';
  }
}
