<div class="ind_header_container">
  <div class="header_wrap">
    <div class="le_fl logo">
      <a href="/view/index/login.html" title="点我跳转至登入页面">
        <img class="logo_img" src="/asset/imgs/logo.png" alt="">
      </a>
      <h1>哈尔滨工业大学</h1>
    </div>
    <div class="le_fl search">
      <div class="sea_com sea_choice">
        <a href="javascript:void(0);">课程</a>
        <i class=" iab fa fa-sort-desc" aria-hidden="true"></i>
        <ul class="choice_ab">
          <li class="choice_item">课程</li>
          <li class="choice_item">教材</li>
        </ul>
      </div>
      <input class="sea_com sea_val " type="text" name="" id="">
      <i class=" iab fa fa-search fa-2x" aria-hidden="true"></i>
    </div>
    <div class="le_fl info">
      <ul class="info_wrap">
        <!-- *登录之前** -->
        <!-- <li class="bef_info">登录</li>
        <li class="bef_info">|</li>
        <li class="bef_info">注册</li> -->
        <!-- *登录之后** -->
        <li class="info_item com_name">
          <a href="">教师端</a>
          <i class=" iab fa fa-sort-desc" aria-hidden="true"></i>
          <ul class="choice_wrap">
            <li class="choice_item">教师端</li>
            <li class="choice_item">学生端</li>
          </ul>
        </li>
        <li class="info_item com_name">
          <a href="">张三丰</a>
          <i class=" iab fa fa-sort-desc" aria-hidden="true"></i>
          <ul class="choice_wrap">
            <li class="choice_item">我的资源</li>
            <li class="choice_item">我的订单</li>
            <li class="choice_item">个人资料</li>
            <li class="choice_item">退出登录</li>
          </ul>
        </li>
        <li class="info_item pic">
          <div class="pic_cover">
            <img src="/asset/imgs/transparency.png" alt="">
          </div>
          <img class="info_item_img" src="/asset/imgs/portrait.png" alt="">
        </li>
        <li class="info_item msg">
          <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>
          <span>1</span>
        </li>
      </ul>
    </div>
  </div>
</div>
