<div class="ind_hotMaterial_container">
  <div class="wrap">
    <div class="title">
      <h2>热门教材</h2>
      <span>more...</span>
    </div>
    <ul class="course_wrap">

      <li class="course_item">
        <img class="course_img" src="/asset/imgs/teaching.png" alt="">
        <h3>alsdfjkalsdfbsdfbkdsfjadsfalsdfkjaldsfkja</h3>
      </li>
      <li class="course_item">
        <img class="course_img" src="/asset/imgs/teaching.png" alt="">
        <h3>alsdfjkalsdfbsdfbkdsfjadsfalsdfkjaldsfkja</h3>
      </li>
      <li class="course_item">
        <img class="course_img" src="/asset/imgs/teaching.png" alt="">
        <h3>alsdfjkalsdfbsdfbkdsfjadsfalsdfkjaldsfkja</h3>
      </li>
      <li class="course_item">
        <img class="course_img" src="/asset/imgs/teaching.png" alt="">
        <h3>alsdfjkalsdfbsdfbkdsfjadsfalsdfkjaldsfkja</h3>
      </li>
      <li class="course_item">
        <img class="course_img" src="/asset/imgs/teaching.png" alt="">
        <h3>alsdfjkalsdfbsdfbkdsfjadsfalsdfkjaldsfkja</h3>
      </li>
      <li class="course_item">
        <img class="course_img" src="/asset/imgs/teaching.png" alt="">
        <h3>alsdfjkalsdfbsdfbkdsfjadsfalsdfkjaldsfkja</h3>
      </li>
      <li class="course_item">
        <img class="course_img" src="/asset/imgs/teaching.png" alt="">
        <h3>alsdfjkalsdfbsdfbkdsfjadsfalsdfkjaldsfkja</h3>
      </li>
      <li class="course_item">
        <img class="course_img" src="/asset/imgs/teaching.png" alt="">
        <h3>alsdfjkalsdfbsdfbkdsfjadsfalsdfkjaldsfkja</h3>
      </li>
    </ul>
  </div>

</div>
