<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>教材详情</title>
  <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style//main.css">
</head>

<body>
  <div id="index_header"></div>

  <div id="index_nav"></div>
  <div class="s-bookarea">
    <!-- S子菜单导航 -->
    <div class="s-booktitle" id="bookdetail">
      <a href="#">首页</a> &gt;
      <a href="javasript:;">教材</a> &gt;
      <a href="javasript:;">一级分类名称</a> &gt;
      <a href="#boklist">二级分类名称</a> &gt;
      <a href="#bookdetail">课程名称</a>
    </div>
    <!-- E子菜单导航 -->
    <div class="s-course clearfix">
      <a href="javascript:;" class="fl">
        <img src="/asset/imgs/math.png">
      </a>
      <div class="texmes fl">
        <h3>数学解题泄天机</h3>
        <div class="author">
          <a href="javacript:;">杨飞</a>,
          <a href="javacript:;">陈荣</a>著</div>
        <div class="price">￥ 20.00/年</div>
        <h4>关联资源</h4>
        <dl>
          <dt>教材</dt>
          <dd>教 材 《电力电子技术基础（第3版）》ISBN 0000000000000； 《电力电子技术基础（第3版）学生辅导教材》ISBN 0000000000000 课件库 电力电子技术基础课件库 课件数量 150 个 题 库 电力电子技术基础题库
            习题数量 150 道 试卷 20 套</dd>
        </dl>
      </div>
    </div>
    <div class="detail">
      <div class="introduce fl">
        <!-- S教材介绍 -->
        <div class="bookintroduce">
        </div>
        <!-- E教材介绍 -->
        <!-- S作者介绍 -->
        <div class="authoerintroduce">
        </div>
        <!-- E作者介绍 -->
        <!-- S课程目录 -->
        <div class="coursecatelog">
        </div>

        <!-- E课程目录 -->
      </div>
      <!-- S相关课程 -->
      <div class="related fr">
        <div class="relatetile">
          <i>相关课程</i>
          <a href="javascript:;">more...</a>
        </div>
        <ul class="relatedcourse">
          <li>
            <a href="javascript:;">
              <img src="/asset/imgs/r1.png">
            </a>
            <p>课程名称课程课程名称课程课程名称课程</p>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/asset/imgs/r2.png">
            </a>
            <p>课程名称课程课程名称课程课程名称课程</p>
          </li>
        </ul>

      </div>
      <!-- E相关课程 -->
    </div>
  </div>
  <div id="footer"></div>
  <script src="/lib/require.js" data-main='/js/controller/student/s-bookdetail.js'></script>
</body>

</html>
