<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>课程详情</title>
  <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style//main.css">
</head>

<body>
  <div id="index_header"></div>

  <div id="index_nav"></div>
  <div class="s-bookarea">
    <!-- S子菜单导航 -->
    <div class="s-booktitle">
      <a href="/index.html">首页</a> &gt;
      <a href="/view/student/s-courselist.html">教材</a> &gt;
      <a href="javasript:;">一级分类名称</a> &gt;
      <a href="s-courselist.html">二级分类名称</a> &gt;
      <a href="#bookdetail">课程名称</a>
    </div>
    <!-- E子菜单导航 -->
    <div class="s-course clearfix">
    </div>
    <div class="detail">
      <div class="introduce fl">
        <!-- S教材介绍 -->
        <div class="bookintroduce">
        </div>
        <!-- E教材介绍 -->
        <!-- S作者介绍 -->
        <div class="authoerintroduce">
        </div>
        <!-- E作者介绍 -->
        <!-- S课程目录 -->
        <div class="coursecatelog">
        </div>

        <!-- E课程目录 -->
      </div>
      <!-- S相关课程 -->
      <div class="related fr">
        <div class="relatetile">
          <i>选用的教材</i>
          <a href="javascript:;">more...</a>
        </div>
        <ul class="relatedcourse">
          <li>
            <a href="javascript:;">
              <img src="/asset/imgs/r3.png">
            </a>
            <p>平面解析几何方法与研究第一卷 平面解析几何</p>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/asset/imgs/r1.png">
            </a>
            <p>课程名称课程课程名称课程课程名称课程</p>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/asset/imgs/r2.png">
            </a>
            <p>课程名称课程课程名称课程课程名称课程</p>
          </li>
        </ul>

      </div>
      <!-- E相关课程 -->
    </div>
  </div>
  <div id="footer"></div>
  <script src="/lib/require.js" data-main='/js/controller/student/s-coursedetail.js'></script>
</body>

</html>
