<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>哈尔滨工业大学</title>
  <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style/main.css">
</head>

<body>
  <!-- S header头部 -->
  <div id="index_header"></div>
  <!-- E header头部 -->
  <!-- S nav导航-->
  <div id="index_nav"></div>
  <!-- Enav导航 -->
  <!-- S banner -->
  <div id="banner"></div>
  <!-- E banner -->
  <!-- S推荐课程 -->
  <div id="s-recommended-course"></div>
  <!-- E推荐课程 -->
  <!-- S热门教材 -->
  <div id="s-popular-textbook"></div>
  <!-- E热门教材 -->
  <!-- S footer底部 -->
  <div id="footer"></div>
  <!-- E footer底部 -->
  <script src="/lib/require.js" data-main='/js/controller/student/s-index.js'></script>
</body>

</html>
