<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>分页</title>
  <link rel="stylesheet" href="/style//main.css">
  <link rel="stylesheet" href="/lib/simplePagination.css">
  <link rel="stylesheet" href="/lib/booktxtlist.css">
</head>

<body>
  <div id="page">
    <div class="pagetilte">
      <div class="pagetotle">共<span></span>个课程</div>
      <div class="page-btn">
        <a href="javascript::" class="bl">&lt;</a>
        <i></i>/
        <span></span>
        <a href="javascript::" class="br">&gt;</a>
      </div>
    </div>
    <ul class="booktxtlist">
    </ul>
    <div class="paging"></div>
  </div>

  <script src="/lib/require.js" data-main='/js/controller/student/s-page.js'></script>
</body>

</html>
