<div class="magnify_tpl">
  <h1>放大镜实例</h1>
  <div id="magnify_tab">
    <!-- 中图区域 -->
    <div class="magnify_bd">
      <div class="magnify_zoom"></div>
    </div>
    <!-- 小图区域 -->
    <div class="magnify_hd">
      <img class="magnify_sm_img" src="/asset/imgs/sm1.jpg" alt="" style="border: 2px solid #ff0000">
      <img class="magnify_sm_img" src="/asset/imgs/sm2.jpg" alt="小兔">
      <img class="magnify_sm_img" src="/asset/imgs/sm3.jpg" alt="小兔">
      <img class="magnify_sm_img" src="/asset/imgs/sm4.jpg" alt="小兔">
    </div>
    <!-- 大图区域 -->
    <div id="magnify_bigimg"></div>
  </div>
</div>
