<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/lib/jquery-easyui-1.5.5.2/themes/bootstrap/easyui.css">
  <link rel="stylesheet" href="/lib/jquery-easyui-1.5.5.2/themes/icon.css">
  <!-- <link href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.min.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css"> -->
  <!-- <link href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.min.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="/style/main.css"> -->
  <title>login</title>
</head>

<body>

  <div id="index_login_container">我是表格容器</div>

  <script src="/lib/require.js" data-main="/js/controller/index/loginController.js"></script>
</body>

</html>
